{% extends extend  %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script type="text/javascript">
        data_colonia = {'estado':$('#id_estado').val()};
        params_to_dropdowns = [{'changer':'#id_estado','victim':'#id_delomun','url':'/location','param':'pk'},
                               {'changer':'#id_delomun','victim':'#id_colonia','url':'/colonia','param':'pk'},
                               {'changer':'#id_colonia','victim':'#id_cp','url':'/cps','param':'pk','data':data_colonia}

                      ];

        
        $.fn.cli = function(){
            alert('a');    
        }
        
        $(document).ready(function(){
           changers(params_to_dropdowns);    
           $('.adder').click(addli);
           $('.deler').click(rmli);
           $('.ajax_send').submit(sendit);
        });
    </script>
 
{% endblock %}

{% block content %}
{% load tager%}
<div class="form_box">
    <h2 class="title-1">{% if idc %}Agregando nuevo{% else %} Editando {% endif %} Contacto</h2>
    <form name="addcontact" id="addcontact"  method="post" action="/addcontact" enctype="multipart/form-data"  class="ajax_send">
           {%csrf_token%}
           <input type="hidden" name="id" id="id"  value="{{idc}}" />
           <input type="hidden" name="photoc" id="photoc" value=""  />
           
           <div class="col-md-9 left_form">
                <ul class="field-list">
                    <li>
                        <label class="inline_blocke" for="id_namec"> {{forma.namec.label}} </label>
                        {{forma.namec|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                    <li>
                        <label class="inline_blocke" for="id_lastname"> {{forma.lastname.label}} </label>
                        {{forma.lastname|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                   <li>
                        <label class="inline_blocke" for="id_chargec"> {{forma.chargec.label}} </label>
                        {{forma.chargec|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                    <li>
                         <label class="inline_blocke" for="id_organizacion"> Organización </label>
                        {{forma.chargec|addcss:"form-control inline_blocke field-meddium"}}
                    </li>

                </ul>
           </div>
           <div class="col-md-3" style="padding:9px 0px;">
                <a href="#/addphoto" class="btn btn-success" style="width:100%;">Seleccionar imagen</a>
                <div style="border-radius:90px;margin-top:7px;">
                    <img src="/static/images/nophoto.png"/>
                </div>
           </div>
            <ul>

                        {% for cfor in cform %}
               <li>
               <div class="col-md-9 left_form">
                            <label class="inline_blocke">Contacto</label>
                            {{cfor.typeof|addcss:"form-control inline_blocke field-short"}}
                            {{cfor.contactinfo|addcss:"form-control inline_blocke field-short"}}
               </div>
               
               <div class="col-md-3 rboxy field-list">
                            {{cfor.whereis|addcss:"form-control inline_blocke field-right-d"}}
                            <a href="#add" class="adder fright inline_blocke glyphicon glyphicon-plus-sign"></a>
                            <a href="#remover" class="deler fright inline_blocke glyphicon glyphicon-remove-sign blind"></a>
               </div>
               </li>

                        {% endfor %}          
            </ul>
            <ul>            
            {% for cfor in cform %}
               <li>
               <div class="col-md-9 left_form">
                            <label class="inline_blocke">Red Social</label>
                            {{cfor.redsociallist|addcss:"form-control inline_blocke field-meddium"}}
               </div>
               
               <div class="col-md-3 rboxy field-list">
                            {{cfor.redsocial|addcss:"form-control inline_blocke field-right-d"}}
                            <a href="#add" class="adder fright inline_blocke glyphicon glyphicon-plus-sign"></a>
                            <a href="#remover" class="deler fright inline_blocke glyphicon glyphicon-remove-sign blind"></a>
               </div>
               </li>
            {% endfor %}          
               </ul>
               <ul>
               <li>
               <div class="col-md-9 left_form">
                        {% for cfor in cform %}
                            <label class="inline_blocke">Dirección</label>
                            {{cfor.direccion|addcss:"form-control inline_blocke field-meddium"}}
                        {% endfor %}          
               </div>
               
               <div class="col-md-3 rboxy field-list">
                         {% for cfor in cform %}
                            {{cfor.whereisdir|addcss:"form-control inline_blocke field-right-d"}}
                            <a href="#add" class="adder fright inline_blocke glyphicon glyphicon-plus-sign"></a>
                            <a href="#remover" class="deler fright inline_blocke glyphicon glyphicon-remove-sign blind"></a>
                        {% endfor %}          
               </div>
               </li>
            </ul>
            <div style="clear:both;text-align:left;">
                <label style="width:15.5%;" class="inline_blocke">&nbsp;</label>
                <div class="inline_blocke  short">
                    <label for="id_estado"> {{forma.estado.label}} </label>
                    {{forma.estado|addcss:"form-control"}}
                </div>
                <div class="inline_blocke  short">
                    <label for="id_delomun"> {{forma.delomun.label}} </label>
                    {{forma.delomun|addcss:"form-control"}}
                </div>

               <div class="inline_blocke short">
                    <label for="id_colonia"> {{forma.colonia.label}} </label>
                    {{forma.colonia|addcss:"form-control"}}
                </div>

               <div class="inline_blocke short">
                    <label for="id_cp"> {{forma.cp.label}} </label>
                    {{forma.cp|addcss:"form-control"}}
                </div>

            </div>
            <div style="text-align:left;margin:12px 0px;">
                <label for="id_extrac" style="width:100%;">Información Extra (biografía,notas,comó conoció la Organización)</label>
                {{forma.extrac|addcss:"form-control small-f"}}
            
                <div>
                    ¿Quién puede ver este contacto?
                </div>
                <ul>
                    <li>
                        <input type="radio" name="who" value="t"  class="inline_blocke" />
                        <span class="inline_blocke spacing_r">Todos</span>
                    </li>
                    <li>
                        <input type="radio" name="who" value="me" class="inline_blocke" />
                        <span class="inline_blocke spacing_r">Solo yo</span> 
                    </li>
                    <li>
                        <input type="radio" name="who" value="select" class="inline_blocke" />
                        <span class="inline_nblocke spacing_r">Seleccionar gente...</span>
                    </li>
                </ul>
            
            </div>
                {{forma.lon}}{{forma.lat}}


            <ul class="blind">
                <li>
                    <div class="inline_blocke" style="width:80%;">
                        <label>Tags</label>
                        <input type="text" name="tags" class="form-control inline_blocke selector" />
                    </div>

                    <div class="inline_blocke" style="padding-top:5%;">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#remover" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
            </ul>

           {% if extraform %}
                {{extraform|as_bootstrap}}
            <hr/>
            {% endif %}
            
            <div style="text-align:left;margin:10px 0px;">
                <input  id="btn_save" type="submit" value="+Agregar" class="btn btn-success"/>
                 o <a href="/mycontacts">Reestablecer</a>
            </div>
            <br/>
        </form>
</div>
{% endblock %}
