{% extends extend  %}

{% load staticfiles %}

{% block kuppe %}
     <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script type="text/javascript">
        var urlphoto = "{% url 'addphoto' %}";
    </script>
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>

{% endblock %}

{% block content %}
<div class="forms_box">
    <form name="addcontact" id="addcontact"  method="post" action="addcontact" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id"  value="" />
           <input type="hidden" name="photoc" id="photoc" value=""  />
            <div id="generalinfo_box">
                <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="name">Nombre</label>
                            <input type="text" name="namec" id="namec" maxlength="100" tabindex="1"  class="void  form-control"  />
                        </li>
                        <li>
                            <label class="inline_blocke" to="name">Apellido</label>
                            <input type="text" name="lastname" id="lastname" maxlength="100" tabindex="2" class="void  form-control" />
                        </li>
                       <li>
                            <label class="inline_blocke" to="chargec">Cargo</label>
                            <input type="text" name="chargec" id="chargec" maxlength="100" tabindex="3" class=" form-control" />
                        </li>
                    </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div id="submit_photo_box">
                        <span class="inline_blocke imagen_label">Agregar Imágen</span>
                        <a href="#addphoto" id="addphoto" class="inline_blocke">Seleccionar Archivo</a>
                        <input type="file" name="contact_file" id="contact_file" style="display:none;"/>
                    </div>
                    <div class="loadphoto"></div>
                    <br/>
                    <div>
                        <a href="#delphoto" class=" delphoto">Eliminar</a>
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                    </div>
                </div>
            </div>
            <ul id="list_fields">
                {% for a in lista%}
                    {% include "pices/ioptioner.html"%} 
                {% endfor %}
                <li>
                    <label to="twitter" class="inline_blocke">Twitter</label>
                    <input type="text" name="twitter" id="twitter" maxlength="100" class=" form-control" />
                </li>
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="address" id="address" class=" form-control" maxlength="100" />
                </li>
                <li>
                    <label class="inline_blocke">Estado</label>
                    <select name="estado" id="estado"  class="location_drop  form-control" >
                        <option value="">Seleccione</option>
                        {% for std in states %}
                            <option value="{{std.estado}}">{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <select name="delomun" id="delomun" disabled="disabled" class=" form-control">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <select name="colonia" id="colonia" disabled="disabled" class=" form-control">
                    <option value="">Debe seleccionar un Municipio</option>
                    </select>
                </li>
                <li>
                <div id="map-canvas" class="blind" style="z-index:1;height:300px;width:100%;"></div>
                </li>
                <li>
                    <label to="cp" class="inline_blocke">C.P.</label>
                    <input type="text" name="cp" id="cp" maxlength="10" style="width:80px;" class="void form-control" />
                    <input type="hidden" name="lat" id="lat" value="0.0" />
                    <input type="hidden" name="lon" id="lon" value="0.0" />
                </li>
                <li>
                    <div class="inline_blocke">
                        <span>Información Extra (biografía,notas,comó conocio la asociación)</span>
                    </div><br/>
                    <textarea name="extrac" id="extrac" rows="9"></textarea>
                </li>
            </ul>
            <br/>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <a href="/mycontacts" data-dismiss="modal" class="btn btn-default">Cancelar</a>
                    <input  id="btn_save" type="submit" value="Guardar" class="btn btn-success"/>
                </span> 
            </div>
            <br/>
        </form>
</div>
{% endblock %}
