
<div class="blind">
    <span class="inline_blocke">Busca por:&nbsp;&nbsp;</span>
    <a href="#searchnamec" class="chowinput inline_blocke">Nombre &nbsp;</a>
    <a href="#searchemail" class="chowinput inline_blocke">eMail &nbsp;</a>
    <a href="#searchlocation" class="chowinput inline_blocke">Localización &nbsp;</a>
</div>
<div id="boxy_float" class="blind apaca">
    <div id="closer_box">
        <a href="#boxy_float" class="closer inline_blocke glyphicon glyphicon-remove">&nbsp;</a>
    </div>
    <form id="search_form" method="post" action="/resultados">
        {%csrf_token%}
        {% for t in tags %}
        <div id="searchtag" class="{% if not t %}blindi {% endif%} tab_s inline_blocke">
            <span>Tag: {{t}}</span><input type="text" name="tag"  value="{{t}}" />
        </div>
        {% endfor %}
        <input type="hidden" name="words" value="{{form.words}}" />
        <input type="hidden" name="page" value="1" />
    
        <div id="searchnamec" class="{% if not formdata.namec%}blind{% endif %} inline_blocke tab_s">
            Nombre: <input type="text" name="namec" class="form-control" id="namec" value="{{formdata.namec}}" />
        </div>
        <div id="searchemail" class="{% if not formdata.email %} blind{% endif %} inline_blocke tab_s">
            Email: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="email" class="form-control"  name="email" value="{{formdata.email}}" />
        </div>
        <div id="searchlocation" class="{% if not formdata.estado %}blind{% endif  %} inline_blocke tab_s">
            <div>
                Estado:&nbsp; <select name="estado" id="estado" class="locatio_drop form-control">
                    <option value=""> seleccione estado</option>
                    {% for s in location.0 %}
                    <option value="{{s.estado}}" {% ifequal s.estado formdata.estado %} 
                    selected="slected" {% endifequal %}>{{s.estado}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <span id="tomunicipio">Ciudad:</span> <select name="delomun" id="delomun" class="form-control">
                    <option value="">seleccione una opción</option>
                    {% for c in location.1 %}
                    <option value="{{c.municipio}}" {% ifequal formdata.delomun c.municipio%} 
                    selected="selected"{% endifequal%} >{{c.municipio}}</option>
                    {% endfor %}
                </select>
            </div>
    
        </div>
        <input type="submit"  id="buscando" class="btn_green inline_blocke" value="Buscar"/>
    </form>
</div>

<ul id="search_breadcrubs">
    {% if tags %}
    <li>Tags:</li>
    {% endif %}
    {% for t in tags%}
        <li class='inline_blocke'>
            <a href="#tag_{{t}}" class="removetagg glyphicon glyphicon-remove-sign">&nbsp;</a>    
            <span class="inline_blocke">{{t}}</span>
        </li>
    {% endfor %}
    {% if formdata.namec%}
    <li>Nombre:</li>
    <li class="inline_blocke">
        <a href="#namec" class="removetagg glyphicon glyphicon-remove-sign">&nbsp;</a>    
        <span class="inline_blocke">{{formdata.namec}}</span>
    </li>
    {% endif %}
    {% if formdata.estado%}
    <li>Estado:</li>
    <li class="inline_blocke">
        <a href="#estado" class="removetagg glyphicon glyphicon-remove-sign">&nbsp;</a>    
        <span class="inline_blocke">{{formdata.estado}}</span>
    </li>
    {% endif %}

   {% if formdata.delomun%}
   <li>Municipio:</li>
    <li class="inline_blocke">
        <a href="#delomun" class="removetagg glyphicon glyphicon-remove-sign">&nbsp;</a>    
        <span class="inline_blocke">{{formdata.delomun}}</span>
    </li>
    {% endif %}

   {% if formdata.email%}
   <li>Email:</li>
    <li class="inline_blocke">
        <a href="#email" class="removetagg glyphicon glyphicon-remove-sign">&nbsp;</a>    
        <span class="inline_blocke">{{formdata.email}}</span>
    </li>
    {% endif %}
</ul>
