<ul class="task_list">
    {% for t in user.tasking_set.all %}
    <li class="t6b">
        <span style="background-color:{{t.categoria.colorful}}">{{t.categoria.categoryname}}</span>
        <span>{{t.title_task}}</span>
        <span>{{t.when}}</span>
    </li>
    {% endfor%}
    {% if not user.tasking_set.all %}
        <span class="t5">No hay tareas asignadas</span>
    {% endif %}
</ul>
