{% load tasker %}
<form id="tasking" name="formulario" action="/addtask" method="post">
  {%csrf_token%}
        <input type="hidden" name="asigned_string" value="{{tasks.typeof}}" />
        <input type="hidden" name="asignedto" value="{{tasks.asignedto}}" />
        <div class="btn-group">
            <button type="button" class="btn btn-default calendaring backy">Año Anterior</button>
            <button type="button" class="btn btn-default calendaring backm"> Mes Anterior</button>
            <button type="button" class="btn btn-default calendaring gom"> Mes Siguiente</button>
            <button type="button" class="btn btn-default calendaring goy">Año Sigueinte</button>
        </div>
    <input type="hidden" name="cury" id="cury" value="{{tasks.y}}" />
    <input type="hidden" name="curm" id="curm" value="{{tasks.m}}" />
    <div style="text-align:center;" id="popcalendar">
        {% calendarius tasks.y tasks.m %}
    </div>

    <div id="boxy_float" class="blind">
        <div>
            <label>Evento:</label> 
            <input type="text" name="title_task" value="" class="form-control" placeholder="Nueva Tarea:" maxlength="200"/>
        </div>
        <div>
            <label style="width:100%;">Descripción de la Tarea:</label> 
            <input type="text" name="note" value="" class="form-control" placeholder="Descripción de la Tarea" maxlength="200"/>
        </div>
        <div>
            <label>Cuando:</label>
            <input type="text" class="form-control" id="when"  name="when" value="" readonly />
        </div>
        <div>
            <label>Hora:</label> 
            <div class="input-append bootstrap-timepicker inline_blocke">
                <input id="timepicker1" name="anytime" type="text" class=" form-control">
            </div>
        </div>
        <div class="blind">
        <label>Recordarme:</label>
        <select name="reminder" class="form-control">
            <option value="0">El día del evento</option>
            <option value="1">Un día antes del evento</option>
            <option value="2">Dos dias antes del eventos</option>
        </select>
        </div>
        <div style="margin-top:12px;">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <button type="button" class="closer_task">Cancelar</button>
        </div>
    </div>
</form>
