{% extends 'base2.html'%}
{% load tager %}
{% load staticfiles %}


{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chumbukcet.js" %}"></script>
 

    <script type="text/javascript">
    function callbackdeltask(elementore){
        $(elementore).parents('li:first').remove();
    }
    
    function ajaxtasks()
    {
        var wherer = $(this).attr('href');
        var yes = true;
        var elementore = $(this);
        if(wherer.indexOf('deltask')>-1){
            if(confirm('Esta seguro que desea borrar esta tarea?')){
                yess = true; 
            }
            else
                yess = false;

        if(yess)
        {
            $.ajax({url:wherer,type:'get',dataType:'json',success:function(response){
                    if(typeof(window[response.callback])=='function'){
                        window[response.callback](elementore);    
                    }
                }
            });
        }
            
        
        }
        return false;
    }
    

        $(document).ready(function(){
            $('.ajaxcall').click(ajaxtasks);
 
        });
</script>
{% endblock %}


{% block content %}
<div class="table_n">
    
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <h2 class="title-2">Próximas Tareas</h2>
                {% include 'forms/search_form.html'%}
                <!-- Nav tabs -->
                 {% if contacts%}
                    <ul class="pagination">
                        <li>
                            {% if contacts.has_previous %}
                                <a href="?page={{ contacts.previous_page_number }}">Anterior</a>
                            {% endif %}
                        </li>
                        <li>
                             <span class="current">

                                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                            </span>
                        </li>
                        <li>
                             {% if contacts.has_next %}
                                <a href="?page={{ contacts.next_page_number }}">Siguiente</a>
                            {% endif %}

                       </li>
                    </ul>
                {% endif%}
                <div class="tab-content">
                    <ul id="list_result" class="">
                        {% for c in tasks %}
                        <li class="{% cycle 'red' 'even' %}" style="clear:both;">
                            <div class="inline_blocke" style="width:100%;">
                                    <span class="inline_blocke catmodel" style="margin-right:10px;background-color:{{c.categoria.colorful}}">{{c.categoria}}</span>
                                    <span class="t3" style="margin:1% 0%;">{{c.title_task}}</span>
                                </a>
                                <div style="float:right;text-align:right;padding:2px 12px;" class="t5">
                                
                                {{c.when|timesince}}
                                &nbsp;&nbsp;
                                <a href="/taskform?pk={{c.pk}}" data-toggle="modal" data-target="#myModal" class="inline_blocke savecat glyphicon glyphicon-pencil"></a>
                                &nbsp;&nbsp;
                                <a href="/deltask?pk={{c.pk}}" class="ajaxcall inline_blocke glyphicon glyphicon-remove"></a>
                                </div>
                           </div>
                       </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
</div>
{% endblock %}


