{% extends extend%}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load tager%}

{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/bootstrap-colorpicker.css" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-colorpicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/entity.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
 
            $(function() {
                    $('#id_when').datepicker({dateFormat:"dd/mm/yy",autoSize: true });
                      });
        
            $('.closer').click(function(){
                $('#myModal').modal('hide');    
            });

           $('.cancelarcat').click(function(){
            $('.addcategory').addClass('blind');
            });
            
            $('.addcat').click(function(){
                    $('.addcategory').removeClass('blind');
            });

            $('.ajax_send').submit(sendit);
 
        
             $(function(){
                $('.colores').colorpicker().on('changeColor',function(ev){
                      $(this).css('background-color',ev.color.toHex());
                      $('#colorset').val(ev.color.toHex());
                });;
            });
        
        });


        $('.savecat').click(function(){
            data = {'categoryname':$('[name="newcategoryname"]').val(),
                   'colorful':$('[name="newcolorful"]').val(),
                   'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').val()
            };

            $.ajax({url:'/addcat',data:data,type:'post',dataType:'json',
                    success:function(response){
                        $('.err').remove();
                        if(response.saved>0)
                        {
                            if($('#id_categoria').find('[value="'+response.saved+'"]').length<1)
                            {
                                $('#id_categoria').append('<option value="'+response.saved+'" selected="selected">'+$('[name="newcategoryname"]').val()+'</option>');
                            }
                            else{
                                    $('#id_categoria').val(response.saved).after('<span class=" err">La categoría ya existe</span>');
                                }
                        }
                        
                    }
            });




        
        });

        

    </script>
 
{% endblock %}


{% block content %}
<div class="form_box task_form">
    <h2 class="title-1">Nueva Tarea</h2>
    <form name="taskform" id="taskform" method="post" action="/addtask" class="ajax_send task_form">
        {%csrf_token%}
        <input type="hidden" name="id" value="{{idtask}}">
        {% if forma %}
            {% for f in forma %}
                {% if not f.is_hidden %}
                    <div class="field_box">
                    <label for="id_{{f.name}}">{{f.label}}</label>
                    {% endif %}
                    {% if f.name in 'categoria' %}
                    {{f|addcss:"form-control inline_blocke"}}
                   {% if f.help_text%}
                        <a href="#addcat" data="{{f.help_text}}" class="addcat inline_blocke">{{f.help_text}}</a>
                        <div class="addcategory blind" style="margin:20px 0px;width:100%;">
                            <div class="inline_blocke"i style="width:80%;">
                            <div class="input-group">
                                <input type="text" class="form-control"  name="newcategoryname" placeholder="Nombre de categoría"/>
                                <input type="hidden" id="colorset" name="newcolorful" class="colores" value="#5367ce" />
                                <span class="input-group-addon">
                                    <i></i>
                                    <div class="colores inline_blocke">&nbsp;</div>
                                </span>
                            </div>
                            </div>
                            <div class="inline_blocke" style="text-align:left;margin:2px 0px;">&nbsp;&nbsp;
                                <button class=" inline_blocke savecat glyphicon glyphicon-ok" type="button"></button>&nbsp;&nbsp;
                                <button type="button" class="inline_blocke glyphicon glyphicon-remove cancelarcat"></button>
                            </div>
                        </div>
                   {% endif %}
                    </div>
                {% else %}
                    {{f|addcss:"form-control"}}
                {% endif%}
            {% endfor %}
        {% endif %}
        <div class="botonera">
            <input type="submit" value="GUARDAR" class="btn btn-success" />
            <button type="button" class="btn closer">Cancelar</button>
        </div>
    </form>

</div> 

{% endblock %}
