
*{
    margin:0px;padding:0px;    
}
ul{
    list-style:none;    
}

*:focus { outline: none; }

body,html{
    height:100%;width:100%;
    font-size:100%;
}

.inline_blocke{
    display:inline-block;display: -moz-inline-stack;display: inline-block;vertical-align: top;
    zoom: 1;*display: inline;text-align:justify;
}


.vmiddle{
     display:table-cell;vertical-align:middle;text-align:center;    
    }

 input:focus{
    color:#094FA4;
 }
 
 .err{
    margin:12px 10px;background-color:#ef4a56;color:#FFF;
    margin-top:0px;
    padding:8px;
    font-size:12px;font-weight:600;
    position:absolute;
    box-shadow: 10px 10px 5px #ADADAD;
    z-index:100;
    width:236px;
 }
 

.ligthform{
    margin:12px 10px;background-color:#FFF;color:#333;
    border:1px solid #ADADAD;
    margin-top:0px;
    padding:8px;
    font-size:12px;fiont-weight:600;
    position:absolute;
    box-shadow: 8px Tags:8px 5px #ADADAD;
    z-index:100;
 }
 
 
 #back_lbox{
    position:fixed;width:100%;height:100%;
    background:#000;display:none;z-index:3;
 }
 
 #lbox{
    text-align:center;width:100%;height:auto;
    margin:0px auto 124px auto;display:none;z-index:40;position:absolute;
    top:12px;
 }
 
 #lbox_closer_box{
    width:100%;text-align:right;
 }
 #cerrar_lbox{
    margin-right:100px;
    background:url(/media/img_logos/closelbox.png) no-repeat scroll 0px 0px;
    width:31px;height:41px;overflow:hidden;line-height:500px;
 }
 #cerrar_lbox:hover{
    background-position:0px -55px;
 }

#lbox_alerts{
font-size:14px;font-weight:500;
margin:12px auto;width:200px;
}
 .sleep{
    display:none;
}
 .loadd{
    background:#ADADAD;#color:#000;
}
 .good{
    background:#00CC00;color:#FFF;
}

 .bad{
    background:#cc0000;color:#FFF;
}
 
 #lbox_content{
    width:auto;height:auto;margin:auto;
    text-align:center;
 }


.blind{
        display:none;
        width:0px;height:0px;
    }
.bold1{
    font-weight:700;font-size:1.2em;
    }

.thin1{
    font-weight:400;font-size:0.8em;color:#999;
    }

a:hover{
    text-decoration:none;    
}


.even
{
    background:#EBEFF1;
}

.leftty
{
    text-align:left !important;
}

.rightty
{   
    text-align:right;
}

.margen
{
    padding:0px 0px 0px 10px;
}

