.field-list li
{
    height:41px;padding:2% 0px;    
}

label{
        width:20%;text-align:left;font-size:14px;color:#485162;
        font-weight:400;padding:1% 0px;
    }


.field-meddium
{
    width:78%;
}

.selector{
        width:30%;
    }

.field-short
{
    width:38.5%;
}

.minifield
{
    width:18.7%;
}


#campos li{
    text-align:left;
}

/*--------------BOOTSTRAP CHANGING*/

.btn-success, .btn-success:hover{
    background-color:#04A598;font-size:12px;    
}

.title-1
{
    font-weight:400;text-align:left;color:#666;
    border-bottom:1px solid rgba(0,0,0,0.3);padding:2% 1%;margin:10px 0px;
}


.title-2
{
    font-weight:400;text-align:left;color:#666;
    padding:2% 1%;margin:10px 0px;font-size:24px;
}



.form_box
{
    width:80%;background:rgba(255,255,255,1);padding:1% 5%;
}

.form_box input,.form_box select
{
    height:29px;padding:1px 12px;
}
.left_form
{
    text-align:left;padding:0px;
}
.field-right-d
{
    width:80%;
}

.fright{
    float:right;    
}


.rboxy
{
    padding:0px;text-align:left;
}


div.short
{
    width:40.4% !important;    
}

.small-f
{
    height:80px !important;
}

.spacing_r
{
    margin:5px 12px;
}
.myphoto
{
    height:114px;
}

.rounding
{
    border-radius:90px;margin-top:7px;width:114px;height:114px;overflow:hidden;margin:7px auto;
}


.search_bar
{
    font-size:12px;font-weight:400;
}

.tags
{
    border-radius:5px;background-color:#E0E2E4;padding:5px;
    font-size:12px;color:#485162;font-weight:300;margin:5px;
}



.tag_block
{
    margin-top:10px;text-align:left;
}

.right_tag
{
    width:70%;text-align:left;
}

.custom-combobox-input
{
    width:100%;
}

.ui-autocomplete
{
    font-size:12px;max-height:120px;overflow-y:auto; overflow-x: hidden;
}
.ui-menu-item
{
    font-size:12px;
}

.task_form
{
    width:90%;margin:auto;
}

.task_form label
{
    width:100%;
}

.task_form a
{
    font-size:12px;padding:1% 2%;
}

.field_box
{
    padding:2px 0px;margin:4px 0px;
}

.task_form .form-control
{
    width:100%;
}

.botonera
{
    margin:12px 0px;text-align:right;
}

#id_categoria
{
    width:40%;
}

#ui-datepicker-div
{
    font-size:12px;
}

div.colores
{
    width:20px;background-color:#5367CE;
    border-radius:2px;border:1px dotted #666;
}

.addcategory button
{
    background:none;border:0px solid;
}

.catmodel
{
    font-size:10px;padding:2px 6px;color:#FFF;
}


