{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
    <script type="text/javascript">
        
        {% for em in emails %}
            emails.push('{{em.email}}');
        {% endfor%}
    </script> 

{% endblock %}

{% block content %}
<div class="forms_box">

    <form name="addentity" id="addentity"  method="post" action="addentity" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id" />
           <input type="hidden" name="photoa" id="photoa" />
            <div id="generalinfo_box">
                 <div class="hdform">Agregar nueva Organización o <a href="/contacto" class="t5">agregar Contacto</a></div>
               <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="nameac">Organización</label>
                            <input type="text" name="nameac" id="nameac" maxlength="100" tabindex="1"  class="void form-control" placeholder=""/>
                        </li>
                        <li>
                          <label to="twitteract" class="inline_blocke">Twitter</label>
                          <input type="text" name="twitteract" id="twitteract" maxlength="100" class="form-control" />
                        </li>
                         <li>
                          <label to="twitteract" class="inline_blocke">Tag</label>
                          <input type="text" name="tag" id="tag" maxlength="100" class="form-control" />
                        </li>
                   </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div>
                         <span class="inline_blocke imagen_label">Agregar Imágen</span> 
                        <input type="file" name="entity_file" id="entity_file" class="blind"  />
                        <a href="#addphoto" id="addephoto" class="inline_blocke">Seleccionar Archivo</a>
                    </div>
                     <div class="loadphoto"></div>
                     <br/>
                    <div>
                        <a href="#delphoto" class=" delphoto">Eliminar</a>
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                    </div>
                </div>
            </div>
            <ul id="list_fields">
             {% for a in lista%}
                {% include "pices/ioptioner.html"%} 
             {% endfor %}

                <li>
                    <label class="inline_blocke">Estado</label>
                    <select id="estadoa" name="estadoa" class="location_drop form-control" >
                        <option value="">Seleccione</option>
                        {% for std in estados %}
                            <option value="{{std.estado}}">{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <select name="delomun" id="delomun" disabled="disabled" class="form-control">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <select name="colonia" id="colonia" disabled="disabled" class="form-control">
                    <option value="">Debe seleccionar un Municipio</option>
                    </select>
                </li>
                <li>
                <div id="map-canvas" class="blind" style="z-index:1;height:300px;width:100%;"></div>
                </li>

                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="addressac"  id="addressac" maxlength="100" class="form-control" />
                </li>
                <li>
                    <label to="cpac" class="inline_blocke">C.P.</label>
                    <input type="text" name="cpac" id="cpac" maxlength="10" style="width:80px;" class="void form-control" />
                    <input type="hidden" name="latac" id="latac" />
                    <input type="hidden" name="lonac" id="lonac" />
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extra" id="extra" rows="3" class="form-control"></textarea>
                </li>
            </ul>
           <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <a href="/myentities" data-dismiss="modal" class="btn btn-default" >Cancelar</a>
                    <input  id="btn_save" type="submit" value="Guardar" class="btn btn-success"/>
                </span> 
            </div>
       </form>
<br/>

</div>
{% endblock %}
