{% extends 'base2.html'%}
{% load staticfiles %}
{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geolocalizations.js" %}"></script>
 

    <script type="text/javascript">

        var locations = [];
        {% for c in entities %}
            if('{{c.latac}}'.length>3 && '{{c.lonac}}'.length>3){
                place  = new google.maps.LatLng({{c.latac}},{{c.lonac}});
                data = {
                    'id':'{{c.pk}}',
                    'name':'{{c.nameac}}',
                    'location':place,
                    'icon':'entity.png',
                    'locations':'{{c.myaddrs.0.metavalue}}<br/> {{c.colonia}} {{c.delomun}} {{c.estado}}',
                    'photo':'{% if c.photoimg %}/static/{{c.photoimg.entity_file.url}}{% else%}/static/images/nophoto.png{%endif%}'
 

                }
                locations.push(data);
            }

        {% endfor%}
        var the_place = null;
        var map;

function chowmap(){
        if(map){
            nothingtodo=true;
        }
        else{
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address':'Mexico'},function(results,status){
            if(status==google.maps.GeocoderStatus.OK){
                the_place = new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                draw_map();
            }    
            else{
                alert('some problem with maps');    
            }
            });
        }
   
}



    $(document).ready(function(){
        $('[href=#map_canvas]').click(chowmap);    
        
        $('.tagger').click(tagger);

        $('.removetagg').click(removetag);

        if(locations.length<1){
            $('#map_link').html('');
        
        }
 

});
</script>
{% endblock %}

{% block content %}


<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <h2 class="title-2">Mis Organizaciones</h2>
                {% include 'forms/search_form.html' %}
                  {% if entities%}
                    <ul class="pagination">
                        <li>
                            {% if entities.has_previous %}
                                <a href="?page={{ entities.previous_page_number }}">previous</a>
                            {% endif %}
                        </li>

                        {% for np in entities.paginator.page_range %}
                        <li>
                             <span class="current">
                                   <a href="?page={{np}}">{{np}}</a>
                            </span>
                        </li>
                        {% endfor %}
 
                        <li>
                             {% if entities.has_next %}
                                <a href="?page={{ entities.next_page_number }}">next</a>
                            {% endif %}

                       </li>
                    </ul>
                {% endif%}

              <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#list_results" role="tab" data-toggle="tab">Listado</a></li>
                    <li id="map_link"><a href="#map_canvas" role="tab" data-toggle="tab">Mapa</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                <ul id="list_results" class="tab-pane fade in active">
                    {% for c in entities %}
                    <li>
                        <div class="inline_blocke boxy">&nbsp;</div>
                        {% if c.photoimg.entity_file.url %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.entity_file.url}});">
                        <a href="/detailentity/{{c.pk}}/" class="inline_blocke" style="width:100%;height:100%;">&nbsp;</a></div>
                        {% else %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.png);">
                        <a href="/detailentity/{{c.pk}}/" class="inline_blocke" style="width:100%;height:100%;">&nbsp;</a>
                        </div>
                        {% endif %}
                        <div class="inline_blocke">
                           <a href="/detailentity/{{c.pk}}/" class="t4">
                           <div>{{c.nameac}}</div>
                            {% for m in c.phones_list %}
                            <div class="inline_blocke t5">{{m.phone}}</div>
                            {% endfor %}
                            <div class="t5">
                            {% for em in c.entityemaillist_set.all %}
                                <div class="inline_blocke t5">{{em.email}}</div>
                            {% endfor %}
                            </div>
                            {% for rs in c.mysocial %}
                                <div class="t5">{{rs.metastring}}:{{rs.metavalue}}</div>
                            {% endfor%}
                            {% for addr in c.myaddrs %}
                                <div class="t5">{{addr.metastring}}:{{addr.metavalue}}</div>
                            {% endfor%}
                            <div class="t5">{{c.colonia}}, {{c.delomun}}, {{c.estadoa}}</div> 
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div id="map_canvas" class="tab-pane fade" style="width:100%;height:400px;border-radius:20px;"></div>
                </div> 
            
            </div>
            <div class="tablec">{% include "pices/tags.html"%}</div>
    </div>
</div>
{% endblock %}
