{% extends 'base2.html'%}
{% block content %}
                
                <div class="white_box">
                    <p class="t1 top38" >Bienvenido a D4 Administrador de Asociaciones Civiles</p>
                    <div id="box_h3">
                        <p class="t2">D4 ACC le ayuda a mantenerse en contacto</p>
                        <p class="t3">A continuación se presentan algunos de los beneficios de D4 ACC</p>
                    </div>
                    <ul id="btns_box_l">
                        <li class="inline_blocke"><a href="/contacto" class="btn btn-success">+ Contacto</a></li>
                        <li class="inline_blocke"><a href="/entity" class="btn btn-success">+ Organización</a></li>
                    </ul>
                    
                    <ul id="static_info">
                        <li class="inline_blocke">
                            <p><img src="/static/images/home1.jpg" /></p>
                            <div class="t4">Agenda de contactos</div>
                            <div class="t5">Almacena y comparte datos de asociaciones, contactos, clientes, proveedores y otros.</div>
                        </li>
                        <li class="inline_blocke">
                            <p><img src="/static/images/home2.jpg" /></p>
                            <div class="t4">Historial de actividades</div>
                            <div class="t5">Ingrese y revise las notas de llamadas, reuniones, correos electrónicos, conversaciones, etc.</div>
                        </li>
                        <li class="inline_blocke">
                            <p><img src="/static/images/home3.jpg" /></p>
                            <div class="t4">Tareas y recordatorios</div>
                            <div class="t5">Configurar el correo electrónico y el teléfono móvil recordatorios para hacer las cosas.</div>
                        </li>
                    </ul>
                    <br/><br/>
                </div>           
         
{% endblock %}
{% block contenta %}
<div class="table_n">
    <div class="table_r">
        <div class="table_c lefty">{% include "menu_left.html" %}</div>
        <div class="table_c">
            <div id="top_right">
                {% include "top_right.html"%}
            </div>
            <div id="inicio_box">    
            <!--    <div class="white_box">
                    <p class="t1 top38" >Bienvenido a inTouch, Administrador de Contactos</p>
                    <div id="box_h3">
                        <p class="t2">inTouch le ayuda a mantenerse en contacto</p>
                        <p class="t3">A continuación se presentan algunos de los beneficios de D4 ACC</p>
                    </div>
                    <ul id="btns_box_l">
                        <li class="inline_blocke btn_green"><a href="/contacto">Contacto</a></li>
                        <li class="inline_blocke btn_green"><a href="/entity">Organización</a></li>
                    </ul>
                    <ul id="static_info">
                        <li class="inline_blocke">
                            <p><img src="/static/images/home1.jpg" /></p>
                            <div class="t4">Agenda de contactos</div>
                            <div class="t5">Almacena y comparte datos de asociaciones, contactos, clientes, proovedores y otros.</div>
                        </li>
                        <li class="inline_blocke">
                            <p><img src="/static/images/home2.jpg" /></p>
                            <div class="t4">Historial de actividades</div>
                            <div class="t5">Ingrese y revise las notas de llamadas, reuniones, correos electrónicos, conversaciones, etc.</div>
                        </li>
                        <li class="inline_blocke">
                            <p><img src="/static/images/home3.jpg" /></p>
                            <div class="t4">Tareas y recordatorios</div>
                            <div class="t5">Configurar el correo electrónico y el teléfono móvil recordatorios para hacer las cosas.</div>
                        </li>
                    </ul>
                    <br/><br/>
                </div>           
           --> </div>
        </div>
    </div>
</div>
{% endblock %}
