{% extends 'base.html'%}
{% load staticfiles %}

{% block kuppe %}
    <script src="{% static "js/auth.js" %}"></script>
{% endblock %}

{% block content %}
   <div id="boxlogin">
        <div id="head_login">login</div>
        <form name="login" id="login"  method="post" action="auth">
            {% csrf_token %}
     {% if mensaje %}
        <h2 style="margin:auto;text-align:center;">{{mensaje}}</h2>
    {%endif %}
            <div>
                <label to="usr">Nombre de usuario</label>
                <input class="" type="text" name="usr" id="usr" tabindex="1" />
            </div>
            <div>
                <label to="pwd">Contraseña</label>
                <input type="password" name="pwd" id="pwd" tabindex="2" />
            </div>
            <div id="box_to_save">
                <span class="inline_blocke" id ="saver_box"><input type="submit" class="btn_green" value="LOGIN" /></span>
            </div>
        </form>
    </div>
    

{% endblock %}
