<div id="logo_box">
    <span id="logo" class="inline_blocke"><img src="/static/images/logohome.jpg" /></span>
<!--    <a href="/" class="inline_blocke"><img src="/static/images/btn_home.jpg" /></a>
    <div class="inline_blocke lnk_ms" style="text-align:right;">
        <a href="#btn" class="inline_blocke red_round">2</a>
    </div>
-->
</div>

<div id="user_info_box">
    <div class="inline_blocke" id="photo_home" style="margin:5% 0px;background:url(/static/{{user.contact_set.all.0.photoimg.contact_file.url}}) no-repeat;background-size:cover;">
    </div>
    <div class="inline_blocke name_box">
        <h4 class="salute">Bienvenido</h4>
        <div class="myname">{{user.contact_set.all.0.namec}}</div>
        <div class="myname">{{user.contact_set.all.0.lastname}}</div>
    </div>
</div>
<ul id="left_menu">
    <li><a href="/" class="inline_blocke"><span class="fa fa-home iconic"></span><span>Bienvenido</span></a></li>
    <li class="blind"><a href="#" class="inline_blocke"><img src="/static/images/l2.png" />Actividad Reciente</a></li>
    <li>
        <a href="/mycontacts" class="inline_blocke"><span class="fa fa-user iconic"></span>Contacto</a>
    </li>
    <li>
        <a href="/myentities"><span class="fa fa-users iconic"></span>Organización</a>
    </li>
    <li><a href="/mytasks" ><span class="fa fa-check iconic"></span>Tareas</a></li>
     <li class="blind"><a href="#"><img src="/static/images/l5.png" />Buscador > </a></li>
</ul>
<div id="reciente" style="display:none;">
    <div class="hdt" style="padding-bottom:5px;">&nbsp;&nbsp;VISTO RECIENTE&nbsp;&nbsp;</div>
    <ul>
        <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
         <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
       <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
    </ul>
 </div> 
