{% extends 'base2.html'%}

{% load staticfiles %}


{% block kuppe %}
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geolocalizations.js" %}"></script>
    <script type="text/javascript">
        var locations = [];
        {% for c in response %}
            if('{{c.lat}}'!='0.0' && '{{c.lon}}'!='0.0'){
                place  = new google.maps.LatLng({{c.lat}},{{c.lon}});
                data = {
                    'name':'{{c.name}}',
                    'location':place,
                    'icon':'{{c.icon}}'
                }
                locations.push(data);
            }

        {% endfor%}
        var the_place = null;
        var map;


function chowmap(){
        if(map){
            nothingtodo=true;
        }
        else{
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address':'Mexico'},function(results,status){
            if(status==google.maps.GeocoderStatus.OK){
                the_place = new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                draw_map();
            }    
            else{
                alert('some problem with maps');    
            }
            });
        }
   
}


    $(document).ready(function(){
        $('[href=#map_canvas]').click(chowmap);    

        $('.tagger').click(tagger);

        $('.removetagg').click(removetag);
});
</script>
{% endblock %}
{% block content %}
<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
               <h2 class="title-2">Mis Resultados</h2>
               {% include 'forms/search_form.html'%}
                  {% if response%}
                    <ul class="pagination">
                        <li>
                            {% if response.has_previous %}
                                <a href="?page={{ response.previous_page_number }}">previous</a>
                            {% endif %}
                        </li>
                         {% for np in response.paginator.page_range %}
                        <li>
                             <span class="current">
                                   <a href="?page={{np}}">{{np}}</a>
                            </span>
                        </li>
                        {% endfor %}
                       <li>
                             {% if response.has_next %}
                                <a href="?page={{ response.next_page_number }}">next</a>
                            {% endif %}

                       </li>
                    </ul>
                {% endif%}

              <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#list_results" role="tab" data-toggle="tab">Listado</a></li>
                    <li><a href="#map_canvas" role="tab" data-toggle="tab">Mapa</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                    <ul id="list_results" class="tab-pane fade in active">
                        {% for c in response  %}
                        <li>
                            <a href="{{c.link}}" class="t4">
                            <div class="inline_blocke boxy">&nbsp;</div>
                            {% if c.photoimg.entity_file.url %}
                            <div class="inline_blocke myminiphoto" 
                            style="background-image:url('/static/{{c.photoimg.entity_file.url}}');">&nbsp;</div>
                             {% elif c.photoimg.contact_file.url %}
                            <div class="inline_blocke myminiphoto" 
                            style="background-image:url('/static/{{c.photoimg.contact_file.url}}');">&nbsp;</div>
                            {% else %}
                            <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.png);"/></div>
                            {% endif %}
                            <div class="inline_blocke">
                                <p class="t5">{{c.type}}</p>
                                
                                <p>{{c.name}}</p>
                                {% if c.type in 'Contacto'%}
                                    {% for m in c.me.emaillist_set.all %}
                                    <div class="t5">{{m.email}}</div>
                                    {% endfor %}
                                    {% for adr in c.me.addresses %}
                                    <div class="t5">{{adr.metavalue}}</div>
                                    {% endfor %}
                                    </a>
                                    {% for asoc in c.me.as_contact_set.all %}
                                    <div class="t4"><a href="/detailentity/{{asoc.asociation.pk}}">{{asoc.asociation.nameac}}</a></div>
                                    {% endfor%}
                               {% else %}
                                    {% for adr in c.me.myaddrs %}
                                    <div class="t5">{{adr.metavalue}}</div>
                                    {% endfor %}
                                    </a>

                                {% endif %}


                                <div class="tag_block">
                                  {% for a in c.me.tages %}
                                        <span class="inline_blocke tags">{{a}}</span>
                                    {% endfor%}
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="map_canvas" class="tab-pane fade"  style="width:100%;height:400px;border-radius:20px;"></div>
                </div>
                </div>
            {% include "pices/tags.html"%}
    </div>
</div>
{% endblock %}
